In [98]:
T = int(input())
for test_case in range(1, T + 1):
    time = input()
    score = input()
    score = score.split(" ")
    ri = int(0)
    rg = int(0)
    for i in range (0, 1000):
        if score.count(score[i]) > score.count(score[i+1]):
            rg = rg + score.count(score[i])
            ri = ri + score[i]
            print(ri)
        
                         
    
    print(score[i])            
        #elif score.count(score[i]) == score.count(score[i+1]) :
        #    if ri > score[i] :

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [91]:
type(rg)

int

In [56]:
score.count(score[0])

1

In [93]:
a = int(input()).split()
a = a.split(" ")
print(a)
#for i in a:
#    if a[i]

ValueError: invalid literal for int() with base 10: ''

In [53]:
a[0]

'41'

In [79]:
a.count("71")

17

In [35]:
a.count("41")

1

In [26]:
len(a)

16

In [ ]:
a.count

In [ ]:
if a.count(a[i]) > a.count(a[i+1]) : 
    score_count = a.count(a[i]) 3
    score = a[i] 
    print(a[i]) 
    if score_count == a.count(a[i]):
        if

In [ ]:
T = int(input())
for test_case in range(1, T + 1):
    time = input()
    score = input()
    if

In [13]:
len(a)

50

In [22]:
a.count(a[0])

1

In [47]:
number = str(input())

In [58]:
number[4:6] == 2

False

In [46]:
number = map(str,input().split()))
int(number[4:7])
int(number[0:-1])

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [37]:
int(number[0:4])

2222

In [40]:
number

'22220228'

In [44]:
int(number[4:6])

2

In [28]:
int(number[4:7])

22

In [99]:
# 2056
T = int(input())
for test_case in range (1, T+1):
    number_list = str(input())
    year = number_list[0:4]
    month = number_list[4:6]
    day = number_list[6:8]
    month_1 = int(month)
    day_1 = int(day)
    if month_1 == 1 or month_1 == 3 or month_1 == 5  or month_1 == 7 or month_1 == 8 or month_1 == 10 or month_1 == 12 :
         if day_1 > 0 and day_1 < 32 :
            print(f"#{test_case} {year}/{month}/{day}")
         else : 
            print(f"#{test_case} -1")
    elif month_1 == 4 or month_1 == 6 or month_1 == 9 or month_1 == 11 :
         if day_1 > 0 and day_1 < 31 :
            print(f"#{test_case} {year}/{month}/{day}")
         else:
            print(f"#{test_case} -1")
    elif month_1 == 2 :
         if day_1 > 0 and day_1 < 29 : 
            print(f"#{test_case} {year}/{month}/{day}")
         else:
            print(f"#{test_case} -1")
    else:
        print(f"#{test_case} -1")

#1 2222/02/28
#2 -1
#3 0101/01/01
#4 -1
#5 1111/11/11

In [94]:
month ==11

True

In [73]:
int(month) == 12

False

In [64]:
month == "11"

True

In [31]:
number_list

''

In [25]:
number_list[4:6]

''

In [ ]:
t = int(input())
number_list = list(map(str,input().split()))
for test_case in range(1, t + 1): 
    if int(number_list[test_case-1][4:6]) < 13 and int(number_list[test_case-1][4:6]) != 0 :
            if int(number_list[test_case-1][6:8]) <= 28 :
                print(f"#{test_case} {number_list[test_case-1][0:4]}/{number_list[test_case-1][4:6]}/{number_list[test_case-1][6:8]}")
            else : 
                print(f"#{test_case} -1")
    else: 
        print(f"#{test_case} -1")

In [102]:
# 2050
a = input()
for i in range(26):
    print(ord(a[i])-64,"",end="")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26

In [ ]:
#1204
T = int(input())
for test_case in range(1, T + 1):
    time = input()
    score = input()
    score = score.split(" ")
    
    for i in range (0, 10):
        if score.count(score[i]) > score.count(score[i+1]):
            rg = score.count(score[i])
            print(rg)

In [160]:
test = 1 
score = "41","85","72","80","69","22","41","69","22","55"
count = []
for i in range (0,10):
    s = score.count(score[i])
    count = count.append(s)
    
print(count)

AttributeError: 'NoneType' object has no attribute 'append'

In [293]:
T = int(input())
for test_case in range(1, T + 1):
   s = list(map(int, (input().split())))
   #s = list(s)
   ac = 0
   for i in range (0,101): 
      if s.count(i) == 0 : # 1부터 시작해서 100까지 점수비교해서 카운트세고
         pass # 포함안되면 패스 
      elif s.count(i) >= s.count(ac): # 처음엔 ac가 0일거고 점점 높아ㅣㅈ면
         ac = i # 최종수 개잘했다
   print(f"{ac}")

71

In [ ]:
T = int(input())
for test_case in range(1, T + 1):
    Try = input()
    score = list(map(int, input().split()))
    acc = 0
    for i in range (1,101):
      if score.count(i) == 0 :
          pass
      elif score.count(i) >= score.count(acc):
           acc = i 
    print(f"#{Try} {acc}")

In [278]:
score = list(map(int, input().split()))

In [282]:
score.count(71)

17

In [263]:
a =  map(int, input().split()) 
a = list(a)
a.count(70)

9

In [204]:
q = "41" "85"
e = "23" 
q.count("1")

1

In [140]:
b.append(e.count("23"))

In [128]:
b.append(q)
b.append(e)

In [141]:
b

[1, 1, 1]

In [339]:
# 비밀번호 
T = int(input())
for test_case in range(1, 11):
    pwd =

SyntaxError: invalid syntax (1400760846.py, line 4)

In [358]:
a  = input().split()
b = []
for i in range(1):
    if a.count(a[i]) == f"{i}" :
        b.append(a[i])
print(b)

IndexError: list index out of range

In [413]:
a = list(map(int, input().split()))
a = str(a[1])
b = 0
for i in a : 
    #if a.count(f"{i}") ==  1 :
    #   b = b + f"{i}"
 print(a.count(f"{i}"))

3
3
4
4
3
3
1
1
2
4
2
2
4
2
3
3

In [392]:
a = list(map(int, input().split()))

In [425]:
b = list(map(str, input().split()))
b = b[1]
for i in range (0, 16):
    if b.count("{i}") > 1 : 
        b.replace("{i}","")
        print(b)

In [492]:
############
b = list(map(str, input().split()))
b = b[1]
for i in range (0, 16):
    if b[i] == b[i+1] : 
        b = b.replace(b[i],"")
        print(b)

411123899844
4111238844
1112388

IndexError: string index out of range

In [506]:
b = list(map(str, input().split()))
b = b[1]

for i in range (0, 10):
    c = f"{i}{i}"
    if b.count(f"{c}") == True :
       b = b.replace(f"{c}","")
       print(f"{c}")
       print(b)

IndexError: list index out of range

In [556]:
b = list(map(str, input().split()))
b = b[1]
i = 0
while True : 
    if b[i] == b[i+1] : 
        del(b[i])
        del(b[i+1])
        i +=1 
        continue

KeyboardInterrupt:

In [555]:
b = list(map(str, input().split()))
b = b[1]
while True :  
    if b.count("00") > 1 :
       b = b.replace("00","")
       print(b)
       continue
    elif b.count("11") > 1 :
       b = b.replace("11","")
       print(b)
       continue        
    elif b.count("22") > 1 :
       b = b.replace("22","")
       print(b)
       continue 
    elif b.count("99") > 1 :
       b = b.replace("99","")
       print(b)
       continue 
    elif b.count("88") > 1 :
       b = b.replace("88","")
       print(b) 
       continue 
    elif b.count("77") > 1 :
       b = b.replace("77","")
       print(b) 
       continue
    elif b.count("66") > 1 :
       b = b.replace("66","")
       print(b) 
       continue  
    elif b.count("55") > 1 :
       b = b.replace("55","")
       print(b) 
       continue
    elif b.count("44") > 1 :
       b = b.replace("44","")
       print(b) 
       continue   
    elif b.count("33") > 1 :
       b = b.replace("33","")
       print(b) 
       continue   
    else: 
        break

088098123800844100132123800844123800844321800844
08809812388441132123884412388443218844
0098123441132123441234432144
00981231132123123321

In [531]:
b = list(map(str, input().split()))
b = b[1]

In [537]:
b.count("00") > 1

True

In [522]:
b= b[1]

len(b)
type(b)

str

In [511]:
b = list(map(str, input().split()))
b = b[1]

for i in range (0, 10):
    c = f"{i}{i}"
    if b.count(f"{c}") == True :
       b = b.replace(f"{c}","")
       print(f"{c}")
       print(b)

00
123809908441112380990844
11
1238099084412380990844

In [510]:
len(b)

22

In [474]:
b = list(map(str, input().split()))
b = b[1]

for i in range (0, 10):
    for _ in b : 
        c = f"{i}{i}"
        if b.count(f"{c}") == True :
           b = b.replace(f"{c}","")
        elif b.count(f"{c}") > 1 : 
           b = b.replace(f"{c}","") 
        print(f"{c}")
        print(b)

00
1238099084
00
1238099084
00
1238099084
00
1238099084
00
1238099084
00
1238099084
00
1238099084
00
1238099084
00
1238099084
00
1238099084
11
1238099084
11
1238099084
11
1238099084
11
1238099084
11
1238099084
11
1238099084
11
1238099084
11
1238099084
11
1238099084
11
1238099084
22
1238099084
22
1238099084
22
1238099084
22
1238099084
22
1238099084
22
1238099084
22
1238099084
22
1238099084
22
1238099084
22
1238099084
33
1238099084
33
1238099084
33
1238099084
33
1238099084
33
1238099084
33
1238099084
33
1238099084
33
1238099084
33
1238099084
33
1238099084
44
1238099084
44
1238099084
44
1238099084
44
1238099084
44
1238099084
44
1238099084
44
1238099084
44
1238099084
44
1238099084
44
1238099084
55
1238099084
55
1238099084
55
1238099084
55
1238099084
55
1238099084
55
1238099084
55
1238099084
55
1238099084
55
1238099084
55
1238099084
66
1238099084
66
1238099084
66
1238099084
66
1238099084
66
1238099084
66
1238099084
66
1238099084
66
1238099084
66
1238099084
66
1238099084
77
1238099084
77
1238099084
77
1238099084
77
1238099084
77
1238099084
77
1238099084
77
1238099084
77
1238099084
77
1238099084
77
1238099084
88
1238099084
88
1238099084
88
1238099084
88
1238099084
88
1238099084
88
1238099084
88
1238099084
88
1238099084
88
1238099084
88
1238099084
99
12380084
99
12380084
99
12380084
99
12380084
99
12380084
99
12380084
99
12380084
99
12380084
99
12380084
99
12380084

In [470]:
b = list(map(str, input().split()))
b = b[1]
for i in range(0,10):
    for j in range (100):
        c = f"{i}{i}"
        d = b.count(f"{c}")
        if b.count(f"{c}") == True :
           b = b.replace(f"{c}","")
        elif d == 2  :
           b = b.replace(f"{c}","")
        else: 
            break
        print(f"{c}")
        print(b)

99
12380084

In [459]:
b = list(map(str, input().split()))
b = b[1]
for i in range (0, 10):
    c = f"{i}"
    d = b.count(f"{c}")
    if d == 2 or d == 4 or d == 6 or d == 8 or d == 10 :
       b = b.replace(f"{c}","")
       print(f"{c}")
       print(b)

0
411123899844
8
4111239944
9
41112344

In [502]:
b = list(map(str, input().split()))

In [503]:
b = b[1]

In [504]:
b.

'12380990844100112380990844'

In [448]:
b.count("00")

1

In [443]:
b.count("11")

1

In [420]:
b[1].replace("0","")

'411123899844'

In [410]:
a = a[1]

'1'

In [412]:
a = str(a)

In [404]:
a[0]

'4'

In [402]:
a.count("0")

4

In [399]:
a.count

'4100112380990844'

In [355]:
set(a)

{'10', '1238099084'}

In [351]:
a = a[1]

In [ ]:
a.sort()

In [348]:
a

['', '084', '12380']

['1238', '99', '84']

In [316]:
a.count("0")

2

In [ ]:
a.