In [ ]:
#1206번 문제 풀이

In [269]:
T = int(input())
s = map(int, input().split())
s = list(s)
for i in range (2, T-2):
    if s[i-2] >= s[i-1] and s[i+1] >= s[i+2] : 
        if s[i] - s[i-2] > 0 and s[i] - s[i+1] > 0 :
            if s[i] - s[i-2] > s[i] - s[i+1] :
                print(s[i]- s[i+1], end=" ")
            else :
                print(s[i]-s[i-2], end=" ")
    elif s[i-2] >= s[i-1] and s[i+1] < s[i+2] :
        if s[i] - s[i-2] > 0 and s[i] - s[i+2] > 0 :
            if s[i] - s[i-2] > s[i] - s[i+2] :
                print(s[i]- s[i+2], end=" ") 
            else :
                print(s[i] - s[i-2], end=" ")  
    elif s[i-2] < s[i-1] and s[i+1] >= s[i+2] : 
        if s[i] - s[i-1] > 0 and s[i] - s[i+1] > 0 :
            if s[i] - s[i-1] > s[i] - s[i+1] :
                print(s[i] - s[i+1])
            else : 
                print(s[i] - s[i-1])
    elif s[i-2] < s[i-1] and s[i+1] < s[i+2] :
        if s[i] - s[i-1] >0 and s[i] - s[i+2] > 0 :
            if s[i] - s[i-1] > s[i] - s[i+2] :
                print(s[i] - s[i+2])
            else : 
                print(s[i] - s[i-1])

11 8 102
49 53
37 15 5
21
28
32
88
34 52 58
29 32 37

In [289]:
T = int(input())
s = map(int, input().split())
s = list(s)
for i in range (2, T-2):
    sum_i = 0
    if s[i-2] >= s[i-1] and s[i+1] >= s[i+2] : 
        if s[i] - s[i-2] > 0 and s[i] - s[i+1] > 0 :
            if s[i] - s[i-2] > s[i] - s[i+1] :
                k = (s[i]- s[i+1])
            else :
                k = (s[i]-s[i-2])               
    elif s[i-2] >= s[i-1] and s[i+1] < s[i+2] :
        if s[i] - s[i-2] > 0 and s[i] - s[i+2] > 0 :
            if s[i] - s[i-2] > s[i] - s[i+2] :
                k = (s[i]- s[i+2])
            else :
                k = (s[i] - s[i-2])
    elif s[i-2] < s[i-1] and s[i+1] >= s[i+2] : 
        if s[i] - s[i-1] > 0 and s[i] - s[i+1] > 0 :
            if s[i] - s[i-1] > s[i] - s[i+1] :
                k = (s[i] - s[i+1])
            else : 
                k = (s[i] - s[i-1])
    elif s[i-2] < s[i-1] and s[i+1] < s[i+2] :
        if s[i] - s[i-1] >0 and s[i] - s[i+2] > 0 :
            if s[i] - s[i-1] > s[i] - s[i+2] :
                k = (s[i] - s[i+2])
            else : 
                k = (s[i] - s[i-1])
    elif k : 
        sum_i += k
print(sum_i)

0

In [286]:
sum_i

0

In [279]:
type(sum_i)

int

In [261]:
a = 5
b = 3

AttributeError: 'tuple' object has no attribute 'append'

In [237]:
225
73
241
179
219
62

False

In [38]:
a = "banana"
a.count()

TypeError: count() takes at least 1 argument (0 given)

In [41]:
a = "banana" 
b = "bana"
a = a.split(b)
len(a)

2

In [74]:
a = str("banana bana")
a  = a.split(" ")
a

['banana', 'bana']

In [75]:
a.find(b)

AttributeError: 'list' object has no attribute 'find'

In [61]:
a[1]

'bana'

In [113]:
a= "banana"
b= "bana"
a.count(b)

1

In [125]:
T = int(input())
tes = "asakusa sa"
tes =tes.split(" ")
tes = list(tes)
test = tes[0].split(tes[1])
print(f"#{T}",len(test)+tes[0].count(tes[1]))

#2 5

In [132]:
T= int(input())
words = "banana bana"
words = words.split(" ")
words = list(words)
words_len = words[0].split(words[1])
print(f"#{test_case}", (len(words_len)+words[0].count(words[1])))

#2 3

In [136]:
words[0].count(words[1])

1

In [200]:
words = "thereistreeishereisme is"
words = words.split(" ")
words = list(words)
words_len = words[0].split(words[1])
words_len = "".join(words_len)
print(len(words_len)+words[0].count(words[1]))

18

In [201]:
words_len

'theretreehereme'

In [170]:
len(str(words_len))

9

In [193]:
a = []
a.append(words_len)
len(a)

1

In [195]:
a = "".join(words_len)

In [197]:
len(a)

3

In [181]:
len(words_len)

3

In [182]:
words_len[0]

'a'

In [190]:
words_len[0]
words_len[1]

'ku'

In [188]:
len(words_len[:-1])

2

In [148]:
len(words_len[1])

5

In [204]:
# 1213번 문제 풀이 
T= int(input())
for test_case in range(1, T+1):
    words = input()
    words = words.split(" ")
    words = list(words)
    words_len = words[0].split(words[1])
    words_len = "".join(words_len)
    print(f"#{test_case}", (len(words_len)+words[0].count(words[1])))

#1 12
#2 10

In [128]:
len(words_len)

1

In [65]:
a = "asakusa sa"
a.split(" ")
type(a)

str

In [63]:
a[1]

's'

In [48]:
T= int(input())
for test_case in range(1, T+1):
    words = input()
    words.split(" ")
    words[0].split(words[1])
    print(f"{T} len(words)")

2 len(words)
2 len(words)

In [ ]:
T = input()

In [8]:
a = "Starteatingwellwiththeseeighttipsforhealthyeating,whichcoverthebasicsofahealthydietandgoodnutrition."
a.count("ti")
a.count("ing")

2

In [13]:
for test_case in range(1, 3):
    tc_num = input(int())
    tc_str = input()
    tc_sen = input()    
    output = tc_sen.count(f"{tc_str}")
    print(f"#{tc_num} {output}")

# 1 4
# 2 2

In [144]:
t = int(input())
number_list = list(map(str,input().split()))
for test_case in range(1, t + 1): 
    if int(number_list[test_case-1][4:6]) < 13 and int(number_list[test_case-1][4:6]) != 0 :
        #print(f"{number_list[test_case-1][0:4]}/{number_list[test_case-1][4:6]}/{number_list[test_case-1][6:8]}")
        if int(number_list[test_case-1][6:8]) <= 28 :
          print(f"#{test_case} {number_list[test_case-1][0:4]}/{number_list[test_case-1][4:6]}/{number_list[test_case-1][6:8]}")
        else : 
          print(f"#{test_case} -1")
    else: 
        print(f"#{test_case} -1")
    
    
    #print(number_list[test_case-1])

#1 2222/02/28
#2 -1
#3 0101/01/01
#4 -1
#5 1111/11/11

In [123]:
int(number_list[0][6:8])

28

In [106]:
int(number_list[0][4:6])

2

In [93]:
f"{number_list[test_case-1][0:4]}/{number_list[test_case-1][4:6]}/{number_list[test_case-1][6:8]}"

'2222/02/28'

In [87]:
int(number_list[0][4:6])

2

In [64]:
number_list[0]
number_list[1]

20150002

In [57]:
t = int(input())
number_list = list(map(int,input().split()))
for test_case in range(1, t + 1): 
   number_list = str(number_list[t-1])
   if int(number_list[4:6]) < 13 :
      print("2022/02/28")
   elif number_list :
      print("-1")
   
   print(number_list)

2022/02/28
11111111

ValueError: invalid literal for int() with base 10: ''

In [44]:
number_list

'22220228 20150002 01010101 20140230 11111111'

In [52]:
type(number_list)

list

In [56]:
number_list[0]

TypeError: 'int' object is not subscriptable

In [19]:
number_list[4:6]

'02'

In [22]:
number_list[0][1]

IndexError: string index out of range

In [207]:
int(number_list[2][4:6])

1

In [206]:
int(number_list[2][4:6]) < 13

True

In [160]:
a = "20150002"

In [ ]:
pd.to_datetime(a)

In [157]:
def validate_date(number_list):
    try:
        number_list = pd.to_datetime(number_list) 
        number_list = datetime.datetime.strftime(number_list, "%Y/%M/%d")
        return number_list
    except : 
        print(-1) 
        return False 
print(validate_date(number_list))

[22220228, 20150002, 1010101, 20140230, '1970/00/01']

In [153]:
a = "12345"

['12345']